<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='logic.js') }}"></script>
    <title> Simple Blog </title>
  </head>

  <body>
    <header></header>

    <nav>
      <a href="home">Blog Home</a>
      <a href="http://markplatts.co.uk/">Portfolio</a>
      <a href="archive">Archive</a>
    </nav>

    <div id="main">
      {% block content %}{% endblock %}
    </div>

    <div id="footPush"></div>
    <footer></footer>
  </body>

</html>
