{% extends "base.html" %}
{% block content %}

  <h1>A Simple Blog Attempt</h1>
  <h2>Explanation:</h2>
  <p>I made this blog as a way to explore ideas in back end logic and to get some practice with the Flask back end module for Python. 
    I also wanted a simple way to show off smaller pages, such as blog post style pages and pages explaining my portfolio pieces that can't be 
    shown off directly as a website. I plan to eventually come back and make a much more robust blog engine that can scale as I add things to the catalogue.
  </p>

  <h2>Logic and Code:</h2>
  <p>The code can be seen <a href="https://github.com/Mark-Platts/blog-flask" target="_blank">here</a>.</p>
  <p>The idea for the interface was to have a template that holds the nav bar and footer bar and deals with their logic. Then, 
    there are separate pages containing content that can be injected into the template when the page is loaded. As an excuse to play 
    with back end logic, I then created a python script that looks for the name of each content page and displays them on the archive page.
  </p>

  <p>As it stands, the blog does everything I need it to for now. However, I would like to learn to make a more professional and robust 
    blog engine in future. It would also be nice to create a 'page creation' interface instead of just writing the pages in code and then 
    manually putting them on the server.
  </p>

{% endblock %}